@font-face {
  font-family: 'BMYEONSUNG_otf'; 
  src: url(../font/BMYEONSUNG_otf.otf) format('opentype')
}

@font-face {
  font-family: 'BMHANNA_11yrs_otf';
  src: url(../font/BMHANNA_11yrs_otf.otf) format('opentype')
}
@font-face {
  font-family: 'rose';
  src: url(../font/rose.otf) format('opentype')
}
.jumbotron h1 a {
    font-family: 'BMHANNA_11yrs_otf', cursive;
    color : #3366ff;
    text-shadow:0px 0px 0 #ff00ff, 0px 3px 0 #ff00ff, 3px 3px 0 #ff00ff, 3px 0px 0 #ff00ff; 
    font-size: 5rem;        
}
p {
  font-family: 'BMHANNA_11yrs_otf', cursive !important;
}

li a {
    font-family: 'BMHANNA_11yrs_otf', cursive;
    color : #ffff33 !important;
    text-shadow:0px 0px 0 #ff00ff, 0px 2px 0 #ff00ff, 1px 1px 0 #ff00ff, 2px 0px 0 #ff00ff;
    font-size: 1.5rem;        
}
#jumbotron {
    background-color: black;
    border-radius: 0rem;

}
#navbar {
    background-color: black !important;
    text-align: center;
}
body {
     background-color: black !important;
}
#demo p {
    font-family: 'BMHANNA_11yrs_otf', cursive;
    color : #9932cc;
}
#jumbotron  p {
    font-family: 'BMHANNA_11yrs_otf', cursive;
    color : #9932cc;

}
#_insta {
  border : 1px solid white;
  padding: 1rem;
  text-align: center; 
  background-color : #ffb4ff;
}
.row {
  margin : 0px !important;
}
.card-text {
  font-family: 'BMHANNA_11yrs_otf', cursive;
  color :white;
}
h1,h2,h3,h4,h5{
  font-family: 'BMHANNA_11yrs_otf', cursive;
  color :white;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    color: white;
    border: 1.5px solid white;
    letter-spacing: 0.07rem;
}
.text-left {
  font-family: 'BMHANNA_11yrs_otf', cursive;
  text-align: left !important;
}

.timedev {
  font-family: 'BMHANNA_11yrs_otf', cursive;
  font-size: 18px;
  color: yellow;
}

.card-title {
  font-family: 'BMHANNA_11yrs_otf', cursive;
  margin-bottom: 0.75rem;
}
.ctb {
  font-family: 'BMHANNA_11yrs_otf', cursive;
  color: white;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 0.25rem;
}
